.grid-wrap {
  display: grid;
  /* 화면 너비에 따라 자동으로 컬럼 개수를 조절 (최소 250px) */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.game-card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px black solid;
  /* background-color: #202020; */
  transition: transform 0.2s ease-in-out;
}

.game-card:hover {
  transform: scale(1.03);
}

.card-image-wrap {
  width: 100%;
  /* 이미지 비율 16:9 고정 */
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.card-image-wrap img {
  width: 100%;
  height: 100%;
  /* 이미지 비율을 유지하면서 공간을 가득 채움 */
  object-fit: cover;
  /* 잘릴 경우 센터를 기준으로 맞춤 */
  object-position: center;
}
