.main-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
  background-color: #121212;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #181818;
  gap: 25px;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.title {
  color: gray;
}

.main-wrapper {
  padding: 0px;
  background-color: #121212;
}

.main-content {
  flex: 1;
  padding: 10px;
}

.grid-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.game-card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px black solid;
  transition: transform 0.2s ease-in-out;
  background-color: #202020;
  color: white;
}

.game-card:hover {
  transform: scale(1.03);
  background-color: #2a2a2a;
}

.card-image-wrap {
  width: 100%;
  /* 이미지 비율 16:9 고정 */
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.card-image-wrap img {
  width: 100%;
  height: 100%;
  /* 이미지 비율을 유지하면서 공간을 가득 채움 */
  object-fit: cover;
  /* 잘릴 경우 센터를 기준으로 맞춤 */
  object-position: center;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 180px;
  box-sizing: border-box;
}

.card-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.5rem;
  line-height: 1.2;
  /* 말줄임표 설정 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-content-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.platform-icon-list {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  color: #888;
}

.card-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metacritic-badge {
  border: 1px solid;
  padding: '2px 5px';
  border-radius: '4px';
  font-weight: 'bold';
}

.sidebar {
  flex: 0 0 200px;
  position: sticky;
  top: 78px;
  height: calc(100vh - 78px);
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #181818;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar button {
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  margin: 1px 0px;
  background: none;
  border: none;
  color: #8f8f8f;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sidebar button:hover {
  background-color: #5f5f5f;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.sidebar button.active {
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
  text-decoration: underline;
}

.select-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #202020;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  gap: 10px;
  width: fit-content;
}

.select-wrap select {
  width: 200px;
  height: 40px;
  padding: 0 15px;
  background-color: #202020;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.search-input:focus {
  border-color: gray;
}

.skeleton-image,
.skeleton-title,
.skeleton-icons,
.skeleton-rating {
  background-color: #333;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite linear alternate;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.skeleton-title {
  width: 80%;
  height: 24px;
}

.skeleton-icons {
  width: 50%;
  height: 24px;
}

.skeleton-rating {
  width: 90%;
  height: 24px;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #2a2a2a;
  border-radius: 12px;
  margin: 20px;
  border: 1px solid;
  color: white;
}

.retry-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #66cc33;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
