.main-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

.navbar {
  display: flex;
}

.main-content {
  flex: 1;
}

.grid-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.game-card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px black solid;
  transition: transform 0.2s ease-in-out;
}

.game-card:hover {
  transform: scale(1.03);
}

.card-image-wrap {
  width: 100%;
  /* 이미지 비율 16:9 고정 */
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.card-image-wrap img {
  width: 100%;
  height: 100%;
  /* 이미지 비율을 유지하면서 공간을 가득 채움 */
  object-fit: cover;
  /* 잘릴 경우 센터를 기준으로 맞춤 */
  object-position: center;
}

.metacritic-badge {
  border: 1px solid;
  padding: '2px 5px';
  border-radius: '4px';
  font-weight: 'bold';
}

.sidebar {
  flex: 0 0 200px;
  position: sticky;
  top: 20px;
}

.sidebar button {
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  margin: 1px 0px;
  background: none;
  border: none;
  color: #8f8f8f;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sidebar button:hover {
  background-color: #5f5f5f;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.sidebar button.active {
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
  text-decoration: underline;
}

.select-wrap {
  padding: 5px 20px;
}
